@import url("https://www.fontify.me/wf/62bff158c0b7d8c9ca2a87f599f46dae");
@media (min-width: 1280px) {
  .modal.wide .modal-dialog {
    width: 80%; } }

@media (max-width: 1280px) {
  .modal.wide .modal-dialog {
    width: 90%; } }

.modal .closeModal, .modal .history-preview > .closePreview {
  float: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9; }
  .modal .closeModal > div, .modal .history-preview > .closePreview > div {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer; }
  .modal .closeModal > div:after, .modal .closeModal > div:before, .modal .history-preview > .closePreview > div:after, .modal .history-preview > .closePreview > div:before {
    content: '';
    width: 20px;
    height: 3px;
    background: #c9c9ca;
    position: absolute;
    left: 0;
    top: 50%;
    transition: 0.2s all; }
  .modal .closeModal > div:hover::after, .modal .closeModal > div:hover::before, .modal .history-preview > .closePreview > div:hover::after, .modal .history-preview > .closePreview > div:hover::before {
    background: #838386; }
  .modal .closeModal > div:before, .modal .history-preview > .closePreview > div:before {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg); }
  .modal .closeModal > div:after, .modal .history-preview > .closePreview > div:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }

.modal .message {
  font-size: 1.571rem;
  text-align: center;
  margin: 30px 0 10px; }
  .modal .message.success {
    color: #4caf50; }
  .modal .message.failed {
    color: #f44336; }
  .modal .message.success div {
    display: none; }

.modal .sub-message {
  font-size: 1rem;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer; }

.modal-header {
  border-bottom: 0; }

.modal-title {
  margin-top: 10px;
  letter-spacing: 0.5px; }

.modal-content {
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.modal-footer {
  border-top: 0; }

#img-linking-modal .modal-title {
  text-align: center; }

#img-linking-modal .url-form {
  width: 400px;
  margin: auto; }

#img-linking-modal .single-input {
  display: block;
  margin: 40px auto 10px;
  text-align: center;
  position: relative; }
  #img-linking-modal .single-input input {
    width: 100%; }
  #img-linking-modal .single-input .label-text {
    letter-spacing: 0.5px;
    text-align: left;
    color: #b5b5b7; }

#img-linking-modal .single-select {
  margin-bottom: 10px; }

#img-linking-modal .modal-footer {
  text-align: center; }

#img-linking-modal .single-input.has-value #test-link {
  color: inherit;
  cursor: pointer;
  pointer-events: auto; }

#test-link {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: absolute;
  right: -30px;
  color: #b5b5b7;
  margin-top: 5px;
  pointer-events: none;
  transition: 0.3s all; }
  #test-link i {
    font-size: 1.714rem; }

#user-histories .modal-content {
  max-height: 750px;
  overflow: auto; }

#user-histories .modal-title {
  font-size: 1.571rem;
  position: relative;
  padding-right: 50%; }

#user-histories .current-user {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: absolute;
  right: 20px;
  font-size: 0.8571rem; }
  #user-histories .current-user > span {
    font-size: 1.143rem; }
  #user-histories .current-user a {
    color: #838386;
    text-decoration: none; }
    #user-histories .current-user a:hover {
      color: #0091ea;
      text-decoration: none; }

#user-histories .histories-lists {
  display: none;
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #c9c9ca; }

#user-histories .date {
  padding: 15px 0;
  border-bottom: 1px solid #c9c9ca; }
  #user-histories .date:first-child {
    padding-top: 0; }
  #user-histories .date:last-child {
    border-bottom: 0;
    padding-bottom: 0; }
  #user-histories .date > span {
    font-size: 1.286rem;
    color: #0091ea;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 5px; }
  #user-histories .date ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    font-size: 0; }
  #user-histories .date li {
    display: inline-block;
    width: 25%;
    font-size: 1rem;
    padding: 0 15px;
    margin: 10px 0;
    text-align: center; }

#user-histories .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background: rgba(201, 201, 202, 0.1);
  transition: 0.3s all;
  font-size: 1.143rem;
  position: relative;
  overflow: hidden;
  vertical-align: top; }
  #user-histories .card:hover {
    background: rgba(201, 201, 202, 0.3); }
  #user-histories .card > a {
    display: block;
    padding: 10px 0;
    color: #333; }
    #user-histories .card > a:hover, #user-histories .card > a:focus, #user-histories .card > a:active {
      text-decoration: none; }
  #user-histories .card .delete-card {
    position: absolute;
    padding: 0 5px;
    top: 2px;
    right: 5px; }
    #user-histories .card .delete-card i {
      font-size: 1.429rem; }
  #user-histories .card .template, #user-histories .card .time {
    letter-spacing: 0.5px;
    padding: 3px 0; }

#user-histories .card-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f44336;
  border-radius: 4px;
  animation-duration: 0.3s;
  animation-name: slidein;
  text-align: center; }
  #user-histories .card-overlay.slideout {
    animation-name: slideOut;
    animation-duration: 0.3s; }
  #user-histories .card-overlay .buttons {
    display: inline-block;
    position: relative;
    top: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  #user-histories .card-overlay .buttons .button {
    text-transform: uppercase;
    margin: 0 5px;
    animation-name: delayFadein;
    animation-duration: 0.5s; }
  #user-histories .card-overlay .cancel {
    color: #252839;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #252839; }
  #user-histories .card-overlay .message.success {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    background-color: transparent;
    color: #fff;
    letter-spacing: 0.5px; }

#user-histories .history-preview {
  display: none;
  position: absolute;
  margin: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #b5b5b7;
  top: 40px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #user-histories .history-preview > .closePreview > div:after, #user-histories .history-preview > .closePreview > div:before {
    background: rgba(37, 40, 57, 0.7); }
  #user-histories .history-preview > .closePreview:hover > div:after, #user-histories .history-preview > .closePreview:hover > div:before {
    background: #252839; }
  #user-histories .history-preview > .title {
    margin: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #c9c9ca;
    font-size: 1.286rem;
    color: #0091ea; }

#user-histories .preview {
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #user-histories .preview .input:hover {
    border: 0;
    cursor: default; }

#user-histories .actions {
  margin: 10px;
  padding: 20px 0 10px;
  border-top: 1px solid #c9c9ca;
  text-align: center; }
  #user-histories .actions > div {
    display: inline-block;
    padding: 0.7rem 2rem;
    font-size: 1.143rem;
    text-transform: uppercase;
    letter-spacing: 1px; }

#user-profile-modal {
  font-size: 0; }
  #user-profile-modal .modal-body {
    padding: 30px 15px; }
  #user-profile-modal .user-infos {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px;
    list-style: none;
    margin-bottom: 0;
    position: relative; }
  #user-profile-modal .user-infos.main {
    width: 40%;
    text-align: center;
    border-right: 1px solid #c9c9ca; }
    #user-profile-modal .user-infos.main > div > div {
      display: inline-block;
      padding: 5px;
      border-radius: 100%;
      border: 1px solid #c9c9ca;
      margin-bottom: 10px; }
    #user-profile-modal .user-infos.main img {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 100%; }
  #user-profile-modal .user-infos.detail {
    width: 60%; }
  #user-profile-modal .modal-title {
    margin: 10px 0 20px;
    font-size: 1.571rem; }
  #user-profile-modal li {
    padding: 5px 0; }
  #user-profile-modal li > div {
    display: inline-block;
    font-size: 1.143rem;
    letter-spacing: 1px; }
  #user-profile-modal .label {
    color: inherit;
    padding: 0;
    margin-right: 10px;
    font-weight: 400;
    border-radius: 0;
    width: 40%;
    text-align: left;
    color: #838386; }
  #user-profile-modal .logout {
    font-size: 0.8571rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1rem; }
    #user-profile-modal .logout a {
      color: rgba(131, 131, 134, 0.8);
      transition: 0.3s all; }
      #user-profile-modal .logout a:hover {
        color: #0091ea;
        text-decoration: none; }

@keyframes slidein {
  from {
    margin-left: -50%;
    width: 0; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes slideOut {
  from {
    margin-left: 0;
    width: 100%; }
  to {
    margin-left: -50%;
    width: 0; } }

@keyframes delayFadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.single-input {
  position: relative;
  margin: 15px 0 5px; }
  .single-input .label-text {
    position: absolute;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    font-weight: 300;
    transition: 0.3s all;
    top: 0;
    font-size: 1.143rem; }
  .single-input input {
    height: 36px;
    line-height: 36px;
    padding: 3px 5px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #c9c9ca; }
  .single-input.has-value .label-text, .single-input input:focus + .label-text {
    top: -20px;
    font-size: 0.8571rem; }

.single-select {
  position: relative;
  width: 200px;
  margin: 15px 0 0; }
  .single-select.active input {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .single-select.active ul {
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .single-select.active .down-arrow {
    border-top-color: #838386;
    transform: rotate(-180deg); }
  .single-select .down-arrow {
    position: absolute;
    top: 15px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(201, 201, 202, 0.8);
    transition: 0.2s all; }
  .single-select input {
    height: 36px;
    line-height: 36px;
    padding: 3px 10px;
    outline: 0;
    width: 100%;
    border: 1px solid #c9c9ca;
    border-radius: 4px;
    cursor: pointer; }
  .single-select ul {
    display: none;
    list-style: none;
    padding-left: 0;
    border: 1px solid #c9c9ca;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9; }
  .single-select li {
    padding: 8px 10px;
    letter-spacing: 0.5px;
    cursor: pointer; }
    .single-select li:hover {
      background-color: rgba(201, 201, 202, 0.4); }

.flat-switch_toggle {
  position: relative;
  vertical-align: middle; }
  .flat-switch_toggle input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; }
  .flat-switch_toggle input + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    padding: 2px;
    width: 30px;
    height: 15px;
    background-color: #c9c9ca;
    border-radius: 15px; }
    .flat-switch_toggle input + label:before, .flat-switch_toggle input + label:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: ''; }
    .flat-switch_toggle input + label:before {
      right: 1px;
      background-color: #b5b5b7;
      border-radius: 15px;
      transition: background 0.4s; }
    .flat-switch_toggle input + label:after {
      width: 13px;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: margin 0.4s; }
  .flat-switch_toggle input:checked + label:before {
    background-color: #4caf50; }
  .flat-switch_toggle input:checked + label:after {
    margin-left: 19px; }

.progress-bar-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(37, 40, 57, 0.9); }
  .progress-bar-wrapper .progress-bar {
    height: 10px;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5); }
    .progress-bar-wrapper .progress-bar > div {
      position: absolute;
      width: 0;
      height: 100%;
      background-color: #fff;
      border-radius: 2rem;
      top: 0;
      left: 0;
      z-index: 1; }

.login-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c9c9ca;
  z-index: 99999;
  font-size: 1rem; }
  .login-wrapper > div {
    width: 500px;
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50%;
    padding: 40px 5%;
    background: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .login-wrapper .login-heading {
    font-size: 2.143rem;
    letter-spacing: 1px;
    color: #0091ea; }
  .login-wrapper .login-sub-heading {
    margin-bottom: 10px;
    font-size: 1.143rem; }
  .login-wrapper .single-input {
    width: 300px; }
    .login-wrapper .single-input .label-text {
      color: #b5b5b7; }
    .login-wrapper .single-input input {
      width: 100%; }
  .login-wrapper .message.failed {
    display: none;
    margin: 10px 20px;
    font-size: 1.286rem;
    color: #f44336;
    padding: 7px 2rem;
    border-radius: 4px;
    border: 1px solid #f44336;
    letter-spacing: 0.5px; }
  .login-wrapper .message.success {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    color: #fff;
    font-size: 1.857rem; }
    .login-wrapper .message.success span {
      position: relative;
      top: 50%;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
  .login-wrapper .text-divider {
    width: 240px;
    margin: 15px auto; }

#login-google, #login-facebook {
  cursor: pointer;
  margin: 10px 35px;
  position: relative;
  padding: 15px 10px 15px 60px;
  text-align: left;
  font-size: 1.143rem;
  letter-spacing: 1px;
  border-radius: 4px; }
  #login-google img, #login-facebook img {
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); }

#login-google {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

#login-facebook {
  background-color: #3b5998;
  color: #fff; }

#submit-username {
  margin-top: 20px;
  background-color: #0091ea;
  text-transform: uppercase;
  letter-spacing: 1.5px; }
  #submit-username:hover {
    background-color: rgba(0, 145, 234, 0.85);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-family: font86106;
  font-size: 14px;
  background-color: #c9c9ca; }

.primary-btn {
  background-color: #0091ea;
  color: #fff;
  border: 0;
  letter-spacing: 0.5px;
  font-size: 1.143rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  transition: 0.3s all;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  outline: 0;
  cursor: pointer; }
  .primary-btn:hover, .primary-btn:focus, .primary-btn:active {
    background-color: rgba(0, 145, 234, 0.85);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.primary-btn.danger {
  background-color: #fff;
  border: 1px solid #f44336;
  color: #f44336;
  box-shadow: none; }
  .primary-btn.danger:hover, .primary-btn.danger:focus, .primary-btn.danger:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.text-divider {
  position: relative;
  height: 18px;
  margin: 10px 0; }
  .text-divider:after {
    content: '';
    height: 2px;
    background-color: #c9c9ca;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .text-divider span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-color: #fff;
    padding: 5px 10px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

#app, .main, .sidebar {
  position: relative;
  height: 100%;
  font-size: 0; }

.main {
  opacity: 0;
  transition: 0.2s all;
  overflow-x: auto; }

#app {
  overflow-x: hidden; }

.sidebar {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  background-color: #252839;
  z-index: 5; }
  .sidebar.active {
    width: 400px; }
  .sidebar .nav.active {
    display: block; }
  .sidebar #sidebar-save {
    position: absolute;
    bottom: 64px;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%); }
    .sidebar #sidebar-save.active a {
      border-color: #f2b632;
      color: #f2b632; }
    .sidebar #sidebar-save a {
      color: inherit;
      display: block;
      line-height: 42px;
      font-size: 1.857rem;
      border-radius: 100%;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.8);
      color: rgba(255, 255, 255, 0.8);
      transition: 0.3s all; }
      .sidebar #sidebar-save a:hover {
        color: #f2b632; }
  .sidebar #user-avartar {
    position: absolute;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    padding: 2px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1px;
    color: #252839;
    font-size: 1.143rem;
    cursor: pointer; }
    .sidebar #user-avartar.active {
      background-color: #f2b632; }
    .sidebar #user-avartar img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%; }

.narrow-navs {
  list-style: none;
  padding-left: 0;
  color: #fff;
  z-index: 11; }
  .narrow-navs li {
    font-size: 1.857rem;
    transition: 0.3s all; }
    .narrow-navs li:not(.active):hover a {
      color: #f2b632; }
    .narrow-navs li.active {
      background-color: #f2b632; }
  .narrow-navs a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s all;
    padding: 15px 20px;
    display: block; }

#user-profile {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  z-index: 4;
  margin-left: -999px;
  border-radius: 4px;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: 0.3s all; }
  #user-profile.active {
    margin-left: 0px;
    opacity: 1; }
  #user-profile ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
  #user-profile li {
    letter-spacing: 1px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s all; }
    #user-profile li:hover {
      color: #f2b632; }
    #user-profile li.active {
      background-color: #f2b632;
      color: #fff; }

.nav {
  position: absolute;
  background-color: #fff;
  clear: both;
  width: 300px;
  top: 0;
  height: 100%;
  z-index: 3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  outline: 0;
  left: -999px; }
  .nav li {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    padding: 15px 10px;
    border: 2px solid transparent;
    cursor: pointer; }
    .nav li.active, .nav li:hover {
      border-color: #f2b632; }
    .nav li.active .template-name {
      color: #f2b632; }

.nav.home {
  width: auto; }
  .nav.home a {
    color: inherit;
    display: block;
    padding: 15px 30px 15px 15px; }
    .nav.home a:hover {
      text-decoration: none; }
  .nav.home > div {
    font-size: 1.143rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
    .nav.home > div:hover {
      background-color: rgba(201, 201, 202, 0.5); }
    .nav.home > div i {
      width: 25px;
      text-align: center;
      font-size: 1.571rem;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle; }

.template-name {
  letter-spacing: 1px;
  font-size: 1.143rem; }

.template-thumb {
  padding-top: 10px; }
  .template-thumb img {
    max-width: 100%;
    max-height: 230px; }

.tab {
  display: none; }
  .tab.active {
    display: block; }

.canvas-container {
  display: inline-block;
  width: 100%;
  transition: 0.3s all;
  font-size: 1rem;
  text-align: center;
  height: 100%;
  overflow: auto; }

.canvas {
  background-color: #fff;
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: left; }
  .canvas.locked {
    pointer-events: none; }

.button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #252839;
  color: #fff; }
  .button:hover {
    background-color: #3F4253; }

.export, .save, .retrieve {
  margin: 20px auto 40px;
  text-transform: uppercase; }

.save {
  background-color: #4d95c2; }
  .save:hover {
    background-color: #66afdb; }

.retrieve {
  background-color: #6ca5a3; }
  .retrieve:hover {
    background-color: #86bebc; }

/* .editor-popup{
	position: absolute;
	right: 20px;
	top: 40px;
	width: 500px;
	height: 300px;
	background-color: mix(#fff, $lightgrey, 98);
	border: 1px solid mix(#fff, $lightgrey, 98);
	box-shadow: $dropshadow;
	border-radius: 4px;
	font-size: 1rem;
} */
.editor-popup {
  position: absolute; }

.input {
  cursor: pointer;
  position: relative; }
  .input:hover, .input.active {
    border: 2px solid #f2b632; }
  .input.active.img-dragging {
    border-style: dashed; }
    .input.active.img-dragging:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(201, 201, 202, 0.5);
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
  .input.img-cropping .tool-popup, .input.img-cropping .crop-btns {
    display: none !important; }
  .input.img-cropping .crop-btns {
    display: block !important; }
  .input.crop-rounded .toggle-crop-rounded {
    background-color: #f2b632; }
    .input.crop-rounded .toggle-crop-rounded i {
      color: #fff; }
  .input.crop-rounded .cropper-view-box, .input.crop-rounded .cropper-face {
    border-radius: 50%; }

.input.thumb a {
  display: block; }

.input.thumb .delete-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 182, 50, 0.9);
  text-align: center;
  cursor: default; }
  .input.thumb .delete-img-overlay > div {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: relative; }
  .input.thumb .delete-img-overlay span {
    display: inline-block;
    margin: 5px auto;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s all; }
  .input.thumb .delete-img-overlay .delete {
    background-color: #fff;
    border-radius: 2rem;
    padding: 7px 25px; }
    .input.thumb .delete-img-overlay .delete:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.tool-popup, .crop-btns {
  position: absolute;
  top: 2px;
  left: 2px;
  list-style: none;
  padding-left: 0;
  z-index: 99; }
  .tool-popup li, .crop-btns li {
    display: inline-block;
    font-size: 1.429rem;
    margin: 0 2px;
    background-color: #fff; }
    .tool-popup li a, .crop-btns li a {
      padding: 1px 5px;
      color: #f2b632;
      border-radius: 3px;
      border: 1px solid #f2b632; }
    .tool-popup li a:hover, .crop-btns li a:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.crop-btns {
  display: none;
  top: -33px;
  left: 0; }

.upload-img-reminder {
  position: fixed;
  top: 20px;
  left: -100%;
  padding: 20px 30px;
  font-size: 1rem;
  color: #fff;
  background-color: #fff;
  transition: 0.2s all;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  letter-spacing: 0.5px;
  background-color: #0091ea;
  z-index: 99; }
  .upload-img-reminder span {
    font-size: 1.286rem; }

.autosave-sign {
  display: none;
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 7px 10px;
  font-size: 0.8571rem;
  background-color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
  z-index: 11; }

.template-lock-sign {
  display: none;
  position: fixed;
  top: 10px;
  right: 30px;
  margin-left: 5px;
  font-size: 2.143rem;
  transition: 0.15s all; }
  .template-lock-sign a {
    color: #252839;
    display: block;
    background-color: #f2b632;
    border-radius: 100%;
    padding: 0 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.note-editor.panel {
  position: fixed;
  left: 20px;
  top: 100px;
  width: 500px;
  height: 300px;
  background-color: #fefefe;
  border: 1px solid #fefefe;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1rem;
  transition: 0.2s all;
  z-index: 11; }
  .note-editor.panel .note-resizebar {
    display: none !important; }
  .note-editor.panel .note-submit button {
    background-color: #3fb0ac;
    color: #fff;
    transition: 0.2s all; }
    .note-editor.panel .note-submit button:hover {
      background-color: rgba(63, 176, 172, 0.7); }
  .note-editor.panel .note-cancel button {
    background-color: #b5b5b7;
    color: #fff;
    transition: 0.2s all; }
    .note-editor.panel .note-cancel button:hover {
      background-color: #c9c9ca; }
  .note-editor.panel .panel-body p {
    margin: 0 0 5px 0; }
  .note-editor.panel .panel-body a, .note-editor.panel .panel-body a:hover, .note-editor.panel .panel-body a:visited, .note-editor.panel .panel-body a:focus {
    color: #0091ea; }

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 131, 134, 0.8);
  display: none;
  z-index: 99; }
  .loading-overlay .loading, .loading-overlay .message.success {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .loading-overlay .loading .sk-folding-cube .sk-cube:before {
    background-color: #fff; }
  .loading-overlay .loading p {
    color: #fff; }
  .loading-overlay .message.success {
    display: none;
    text-align: center; }
    .loading-overlay .message.success span {
      padding: 30px 100px;
      background-color: #fff;
      font-size: 2.143rem;
      color: #4caf50;
      letter-spacing: 1px;
      border-radius: 4px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.loading {
  margin: 80px 0; }
  .loading p {
    margin: 50px 0 20px;
    font-size: 1.571rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: #0091ea; }
  .loading .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  .loading .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .loading .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0091ea;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  .loading .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg); }
  .loading .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg); }
  .loading .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg); }
  .loading .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .loading .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .loading .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
