$inputHeight: 36px;

.single-input{
	position: relative;
	margin: 15px 0 5px;


	.label-text{
		position: absolute;
		width: 100%;
		height: $inputHeight;
		line-height: $inputHeight;
		padding-left: 5px;
		font-weight: 300;
		transition: 0.3s all;
		top: 0;
		font-size: $font16;
	}

	input{
		height: $inputHeight;
		line-height: $inputHeight;
		padding: 3px 5px;
		outline: 0;
		border: 0;
		border-bottom: 1px solid $lightgrey;
	}

	&.has-value .label-text, input:focus + .label-text{
		top: -$inputHeight / 2 - 2px;
		font-size: $font12;
	}
}

