$inputHeight: 36px;
$arrowSize: 6px;

.single-input{
	position: relative;
	margin: 15px 0 5px;


	.label-text{
		position: absolute;
		width: 100%;
		height: $inputHeight;
		line-height: $inputHeight;
		padding-left: 5px;
		font-weight: 300;
		transition: 0.3s all;
		top: 0;
		font-size: $font16;
	}

	input{
		height: $inputHeight;
		line-height: $inputHeight;
		padding: 3px 5px;
		outline: 0;
		border: 0;
		border-bottom: 1px solid $lightgrey;
	}

	&.has-value .label-text, input:focus + .label-text{
		top: -$inputHeight / 2 - 2px;
		font-size: $font12;
	}
}

.single-select{
	position: relative;
	width: 200px;
	margin: 15px 0 0;

	&.active input{
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.active ul{
		display: block;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&.active .down-arrow{
		border-top-color: $darkgrey;
		transform: rotate(-180deg);
	}

	.down-arrow{
		position: absolute;
		top: ($inputHeight - $arrowSize) / 2;
		right: 8px;
		width: 0;
		height: 0;
		border-left: $arrowSize solid transparent;
		border-right: $arrowSize solid transparent;
		border-top: $arrowSize solid rgba($lightgrey, 0.8);
		transition: 0.2s all;
	}

	input{
		height: $inputHeight;
		line-height: $inputHeight;
		padding: 3px 10px;
		outline: 0;
		width: 100%;
		border: 1px solid $lightgrey;
		border-radius: 4px;
		cursor: pointer;
	}

	ul{
		display: none;
		list-style: none;
		padding-left: 0;
		border: 1px solid $lightgrey;
		border-radius: 4px;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 9;
	}

	li{
		padding: 8px 10px;
		letter-spacing: 0.5px;
		cursor: pointer;

		&:hover{
			background-color: rgba($lightgrey, 0.4);
		}
	}
}

.flat-switch_toggle{
	position: relative;
	vertical-align: middle;

	input{
		position: absolute;
		margin-left: -9999px;
		visibility: hidden;
	}

	input + label{
		display: inline-block;
		position: relative;
		cursor: pointer;
		outline: none;
		user-select: none;
		vertical-align: middle;
		padding: 2px;
		width: 30px;
		height: 15px;
		background-color: $lightgrey;
		border-radius: 15px;

		&:before, &:after{
			display: block;
			position: absolute;
			top: 1px;
			left: 1px;
			bottom: 1px;
			content: '';
		}

		&:before{
			right: 1px;
			background-color: $grey;
			border-radius: 15px;
			transition: background 0.4s;
		}

		&:after{
			width: 13px;
			background-color: #fff;
			border-radius: 100%;
			box-shadow: 0 2px 5px rgba(0,0,0,0.3);
			transition: margin 0.4s;
		}
	}

	input:checked + label{
		&:before{
			background-color: $green;
		}

		&:after{
			margin-left: 19px;
		}
	}
}

.progress-bar-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
	background-color: rgba($darkpurple, 0.9);

	.progress-bar{
		height: 10px;
		width: 100%;
		border-radius: 2rem;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(#fff, 0.5);

		> div{
			position: absolute;
			width: 0;
			height: 100%;
			background-color: #fff;
			border-radius: 2rem;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
}