$historiesHeight: 750px;

$closeSize: 20px;

@mixin verticalCenter {
	top: 50%;
	transform        : translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform    : translateY(-50%);
}

.modal{

	&.wide .modal-dialog{
		@media (min-width: 1280px) {
			width: 80%;
		}

		@media (max-width: 1280px) {
			width: 90%;
		}
	}

	.closeModal, .history-preview > .closePreview{
		float: none;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 9;
		
		> div{
			position: relative;
			width: $closeSize;
			height: $closeSize;
			cursor: pointer;
		}

		> div:after, > div:before{
			content: '';
			width: $closeSize;
			height: 3px;
			background: $lightgrey;
			position: absolute;
			left: 0;
			top: 50%;
			transition: 0.2s all;
		}

		> div:hover::after, > div:hover::before{
				background: $darkgrey;
			}

		> div:before{
			-webkit-transform: translateY(-50%) rotate(-45deg);
			    -ms-transform: translateY(-50%) rotate(-45deg);
			        transform: translateY(-50%) rotate(-45deg);
		}

		> div:after{
			-webkit-transform: translateY(-50%) rotate(45deg);
			    -ms-transform: translateY(-50%) rotate(45deg);
			        transform: translateY(-50%) rotate(45deg);
		}

	}

	.message{
		font-size: $font22;
		text-align: center;
		margin: 30px 0 10px;

		&.success{
			color: $green;
		}

		&.failed{
			color: $red;
		}

		&.success div{
			display: none;
		}
	}

	.sub-message{
		font-size: 1rem;
		display: inline-block;
		text-decoration: underline;
		cursor: pointer;
	}
}

.modal-header{
	border-bottom: 0;
}

.modal-title{
	margin-top: 10px;
	letter-spacing: 0.5px;
}

.modal-content{
	border-radius: 0;
	box-shadow: $dropshadow-2;
}

.modal-footer{
	border-top: 0;
}

#img-linking-modal{
	.modal-title{
		text-align: center;
	}

	.url-form{
		width: 400px;
		margin: auto;
	}

	.single-input{
		display: block;
		//width: 400px;
		margin: 40px auto 10px;
		text-align: center;
		position: relative;

		input{
			width: 100%;
		}

		.label-text{
			// text-transform: uppercase;
			letter-spacing: 0.5px;
			text-align: left;
			color: $grey;
		}
	}

	.single-select{
		margin-bottom: 10px;
	}

	.modal-footer{
		text-align: center;
	}
}

#img-linking-modal .single-input.has-value #test-link{
	color: inherit;
	cursor: pointer;
	pointer-events: auto;
}

#test-link{
	@include verticalCenter;

	position: absolute;
	right: -30px;
	color: $grey;
	margin-top: 5px;
	pointer-events: none;
	transition: 0.3s all;

	i{
		font-size: $font24;
	}
}

#user-histories{
	
	.modal-content{
		max-height: $historiesHeight;
		overflow: auto;
	}

	.modal-title{
		font-size: $font22;
		position: relative;
		padding-right: 50%;
	}

	.current-user{
		@include verticalCenter;
		position: absolute;
		right: 20px;
		font-size: $font12;

		> span{
			font-size: $font16;
		}

		a{
			color: $darkgrey;
			text-decoration: none;

			&:hover{
				color: $blue;
				text-decoration: none;
			}
		}
	}

	.histories-lists{
		display: none;
		margin: 15px 0;
		padding: 15px 0;
		border-top: 1px solid $lightgrey;
	}

	.date{
		padding: 15px 0;
		border-bottom: 1px solid $lightgrey;
		
		&:first-child{
			padding-top: 0;
		}

		&:last-child{
			border-bottom: 0;
			padding-bottom: 0;
		}

		> span{
			font-size: $font18;
			color: $blue;
			letter-spacing: 1px;
			display: inline-block;
			margin-bottom: 5px;
		}

		ul{
			list-style: none;
			padding: 0;
			margin-bottom: 5px;
			font-size: 0;
		}

		li{
			display: inline-block;
			width: 25%;
			font-size: 1rem;
			padding: 0 15px;
			margin: 10px 0;
			text-align: center;
		}	
	}

	.card{
		box-shadow: $dropshadow;
		background: rgba($lightgrey, 0.1);
		transition: 0.3s all;
		font-size: $font16;
		position: relative;
		overflow: hidden;
		vertical-align: top;

		&:hover{
			background: rgba($lightgrey, 0.3);
		}

		> a{
			display: block;
			padding: 10px 0;
			color: #333;

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
		}

		.delete-card{
			position: absolute;
			padding: 0 3px;
			top: 2px;
			right: 5px;

			i{
				font-size: $font20;
			}
		}

		.template, .time{
			letter-spacing: 0.5px;
			padding: 3px 0;
		}
	}

	.card-overlay{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $red;
		border-radius: 4px;
		animation-duration: 0.3s;
		animation-name: slidein;
		text-align: center;

		&.slideout{
			animation-name: slideOut;
			animation-duration: 0.3s;
		}

		.buttons{
			display: inline-block;
			position: relative;
			top: 50%;
			@include verticalCenter;
		}

		.buttons .button{
			text-transform: uppercase;
			margin: 0 5px;
			animation-name: delayFadein;
			animation-duration: 0.5s;
		}

		.cancel{
			color: $darkpurple;
			background-color: rgba($lightgrey, 0.9);

			&:hover{
				background-color: $lightgrey;
			}
		}

		.message.success{
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			margin: 0;
			background-color: transparent;
			color: #fff;
			letter-spacing: 0.5px;
		}
	}

	.history-preview{
		display: none;
		position: absolute;
		margin: 20px;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid $grey;
		top: 40px;
		background: #fff;
		z-index: 1;
		box-shadow: $dropshadow;

		> .closePreview > div:after, > .closePreview > div:before{
			background: rgba($darkpurple, 0.7);
		}
		> .closePreview:hover > div:after, > .closePreview:hover > div:before{
			background: $darkpurple;
		}

		> .title{
			margin: 10px;
			padding: 10px 0;
			border-bottom: 1px solid $lightgrey;
			font-size: $font18;
			color: $blue;
		}
	}

	.preview{
		margin: 10px;
		box-shadow: $dropshadow;

		.input:hover{
			border: 0;
			cursor: default;
		}
	}

	.actions{
		margin: 10px;
		padding: 20px 0 10px;
		border-top: 1px solid $lightgrey;
		text-align: center;

		> div{
			display: inline-block;
			padding: 0.7rem 2rem;
			font-size: $font16;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

#user-profile-modal{
	font-size: 0;

	.modal-body{
		padding: 30px 15px;
	}

	.user-infos{
		font-size: 1rem;
		display: inline-block;
		vertical-align: top;
		padding: 30px 20px;
		list-style: none;
		margin-bottom: 0;
	}

	.user-infos.main{
		width: 40%;
		text-align: center;
		border-right: 1px solid $lightgrey;

		img{
			display: inline-block;
			margin: 0 0 10px;
			max-width: 100%;
			border-radius: 100%;
		}
	}

	.user-infos.detail{
		width: 60%;
	}

	.modal-title{
		margin: 10px 0 20px;
		font-size: $font22;
	}

	li > div{
		display: inline-block;
		font-size: $font16;
		letter-spacing: 1px;
	}

	.label{
		color: inherit;
		padding: 0;
		margin-right: 10px;
		font-weight: 400;
		border-radius: 0;
	}

	.logout{
		font-size: $font12;

		a{
			color: rgba($darkgrey, 0.8);
			transition: 0.3s all;

			&:hover{
				color: $blue;
				text-decoration: none;
			}
		}
	}
}


@keyframes slidein {
  from {
    margin-left: -50%;
    width: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideOut {
	from {
    margin-left: 0;
    width: 100%;
  }

  to {
    margin-left: -50%;
    width: 0;
  }
}

@keyframes delayFadein {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}