// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://www.fontify.me/wf/62bff158c0b7d8c9ca2a87f599f46dae');

// $font: 'Lato', sans-serif;
$kievit: font86106;
// todo: try Kievit
$emailfont: Verdana, Geneva, sans-serif;

$font8: 0.5714rem;
$font9: 0.6429rem;
$font10: 0.7143rem;
$font12: 0.8571rem;
$font16: 1.143rem;
$font18: 1.286rem;
$font20: 1.429rem;
$font22: 1.571rem;
$font24: 1.714rem;
$font26: 1.857rem;
$font28: 2rem;
$font30: 2.143rem;
$font40: 2.857rem;

$lightgrey: #c9c9ca;
$grey: #b5b5b7;
$darkgrey: #838386;
$darkpurple: #252839;
$yellow: #f2b632;
$teal: #3fb0ac;
$blue: #0091ea;
$green: #4caf50;
$red: #f44336;

$dropshadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$dropshadow-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

$sidebarW: 400px;
$canvasH: 700px;
$canvasW: 1000px;
$userPhoto: 40px;

@mixin verticalCenter {
	top: 50%;
	transform        : translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform    : translateY(-50%);
}

@import 'modal';
@import 'form';
@import 'login';

*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-family: $kievit;
	font-size: 14px;
	background-color: $lightgrey;
}

.primary-btn{
	background-color: $blue;
	color: #fff;
	border: 0;
	letter-spacing: 0.5px;
	font-size: $font16;
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	border-radius: 4px;
	transition: 0.3s all;
	box-shadow: $dropshadow;
	outline: 0;
	cursor: pointer;

	&:hover, &:focus, &:active{
		background-color: rgba($blue, 0.85);
		box-shadow: $dropshadow-2;
	}
}

.primary-btn.danger{
	background-color: #fff;
	border: 1px solid $red;
	color: $red;
	box-shadow: none;

	&:hover, &:focus, &:active{
		box-shadow: $dropshadow-2;
	}
}

.text-divider{
	position: relative;
	height: 18px;
	margin: 10px 0;

	&:after{
		content: '';
		height: 2px;
		background-color: $lightgrey;
		width: 100%;
		display: block;
		position: absolute;
		@include verticalCenter;
	}

	span{
		position: absolute;
		@include verticalCenter;
		background-color: #fff;
		padding: 5px 10px;
		z-index: 9;
		left: 50%;
		transform: translateX(-50%) translateY(-50%); 
	}
}

#app, .main, .sidebar{
	position: relative;
	height: 100%;
	font-size: 0;
}

.main{
	opacity: 0;
	transition: 0.2s all;
	overflow-x: auto;
}

#app{
	overflow-x: hidden;
}

.sidebar{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	background-color: $darkpurple;
	z-index: 5;

	&.active{
		width: $sidebarW;
	}

	.nav{
		//display: none;

		&.active{
			display: block;
		}
	}

	#sidebar-save{
		position: absolute;
		bottom: 20px + $userPhoto + 4px;
		width: $userPhoto + 4px;
		height: $userPhoto + 4px;
		border-radius: 100%;
		text-align: center;
		box-shadow: $dropshadow;
		left: 50%;
		transform: translateX(-50%);

		&.active a{
			border-color: $yellow;
			color: $yellow;;
		}

		a{
			color: inherit;
			display: block;
			line-height: $userPhoto + 2px;
			font-size: $font26;
			border-radius: 100%;
			text-align: center;
			border: 2px solid rgba(#fff, 0.8);
			color: rgba(#fff, 0.8);
			transition: 0.3s all;

			&:hover{
				border-color: $yellow;
			}
		}
	}

	#user-avartar{
		position: absolute;
		bottom: 10px;
		background-color: rgba(#fff, 0.8);
		box-shadow: $dropshadow;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
		padding: 2px;
		width: $userPhoto + 4px;
		height: $userPhoto + 4px;
		line-height: $userPhoto + 4px;
		text-align: center;
		letter-spacing: 1px;
		color: $darkpurple;
		font-size: $font16;
		cursor: pointer;

		&.active{
			background-color: $yellow;
		}

		img{
			display: block;
			width: $userPhoto;
			height: $userPhoto;
			border-radius: 100%;
		}
	}
}

.narrow-navs{
	list-style: none;
	padding-left: 0;
	color: #fff;
	z-index: 11;

	li{
		font-size: $font26;
		transition: 0.3s all;

		&:not(.active):hover a{
			color: $yellow;
		}

		&.active{
			background-color: $yellow;
		}
	}

	a{
		color: rgba(#fff, 0.8);
		transition: 0.3s all;
		padding: 20px;
		display: block;
	}
}

#user-profile{
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	z-index: 4;
	margin-left: -999px;
	border-radius: 4px;
	outline: 0;
	background-color: #fff;
	box-shadow: $dropshadow;
	transition: 0.3s all;

	&.active{
		margin-left: 0px;
		opacity: 1;
	}

	ul{
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
	}

	li{
		letter-spacing: 1px;
		padding: 10px 30px;
		cursor: pointer;
		transition: 0.3s all;

		&:hover{
			color: $yellow;
		}

		&.active{
			background-color: $yellow;
			color: #fff;
		}
	}
}

.nav{
	position: absolute;
	background-color: #fff;
	clear: both;
	width: 300px;
	top: 0;
	height: 100%;
	z-index: 3;
	box-shadow: $dropshadow;
	outline: 0;
	left: -999px;

	li{
		display: inline-block;
		width: 50%;
		float: left;
		text-align: center;
		padding: 15px 10px;
		border: 2px solid transparent;
		cursor: pointer;

		&.active, &:hover{
			border-color: $yellow;
		}

		&.active .template-name{
			color: $yellow;
		}
	}
}

.template-name{
	letter-spacing: 1px;
	font-size: $font16;
}

.template-thumb{
	padding-top: 10px;

	img{
		max-width: 100%;
		max-height: 230px;
	}
}

.tab{
	display: none;

	&.active{
		display: block;
	}
}

.canvas-container{
	display: inline-block;
	width: 100%;
	transition: 0.3s all;
	font-size: 1rem;
	text-align: center;
	height: 100%;
	overflow: auto;
}

.canvas{
	background-color: #fff;
	width: $canvasW;
	height: $canvasH;
	margin: 20px auto;
	box-shadow: $dropshadow;
	text-align: left;
}

.button{
	display: inline-block;
	font-size: 1rem;
	padding: 0.7rem 2rem;
	border-radius: 4px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s all;
	box-shadow: $dropshadow;
	background-color: $darkpurple;
	color: #fff;

	&:hover{
		background-color: #3F4253;
	}
}

.export, .save, .retrieve{
	margin: 20px auto 40px;	
	text-transform: uppercase;
}

.save{
	background-color: mix($blue, #999);
	&:hover{
		background-color: mix($blue, #ccc);
	}
}

.retrieve{
	background-color: mix($teal, #999);
	&:hover{
		background-color: mix($teal, #ccc);
	}
}

/* .editor-popup{
	position: absolute;
	right: 20px;
	top: 40px;
	width: 500px;
	height: 300px;
	background-color: mix(#fff, $lightgrey, 98);
	border: 1px solid mix(#fff, $lightgrey, 98);
	box-shadow: $dropshadow;
	border-radius: 4px;
	font-size: 1rem;
} */

.editor-popup{
	position: absolute;
}

.input{
	cursor: pointer;
	position: relative;

	&:hover, &.active{
		border: 2px solid $yellow;
	}

	&.active.img-dragging{
		border-style: dashed;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba($lightgrey, 0.5);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.img-cropping .tool-popup{
		display: none !important;
	}
	&.img-cropping .crop-btns{
		display: block !important;
	}

	&.crop-rounded{
		.toggle-crop-rounded{
			background-color: $yellow;
			i {
				color: #fff;
			}
		}

		// make the crop box rounded
		.cropper-view-box, .cropper-face {
      border-radius: 50%;
    }
	}
}

.tool-popup{
	//display: none;
	position: absolute;
	top: 2px; // 2px to compensate the border
	left: 2px; // 2px to compensate the border
	list-style: none;
	padding-left: 0;
	z-index: 99;

	li{
		display: inline-block;
		font-size: $font20;
		margin: 0 2px;
		background-color: #fff;

		a{
			padding: 1px 5px;
			color: $yellow;
			border-radius: 3px;
			border: 1px solid $yellow;
		}

		a:hover{
			box-shadow: $dropshadow;
		}
	}
}

.crop-btns{
	@extend .tool-popup;

	display: none;
	top: -33px;
	left: 0;
}

.upload-img-reminder{
	position: fixed;
	top: 20px;
	left: -100%;
	padding: 20px 30px;
	font-size: 1rem;
	color: #fff;
	background-color: #fff;
	transition: 0.2s all;
	box-shadow: $dropshadow;
	border-radius: 4px;
	letter-spacing: 0.5px;
	background-color: $blue;
	z-index: 99;

	span{
		font-size: $font18;
	}
}

.note-editor.panel{
	position: fixed;
	left: 20px;
	top: 100px;
	width: 500px;
	height: 300px;
	background-color: mix(#fff, $lightgrey, 98);
	border: 1px solid mix(#fff, $lightgrey, 98);
	box-shadow: $dropshadow;
	border-radius: 4px;
	font-size: 1rem;
	transition: 0.2s all;
	z-index: 11;
	.note-resizebar{
		display: none !important;
	}

	.note-submit button{
		background-color: $teal;
		color: #fff;
		transition: 0.2s all;

		&:hover{
			background-color: rgba($teal, 0.7);
		}
	}

	.note-cancel button{
		background-color: $grey;
		color: #fff;
		transition: 0.2s all;

		&:hover{
			background-color: $lightgrey;
		}
	}

	.panel-body{
		p{
			margin: 0 0 5px 0;
		}

		a, a:hover, a:visited, a:focus{
			color: $blue;
		}
	}
}

.loading-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($darkgrey, 0.8);
	display: none;
	z-index: 99;

	.loading, .message.success{
		position: relative;
		margin: 0;
		@include verticalCenter;
	}

	.loading .sk-folding-cube .sk-cube:before{
		background-color: #fff;
	}

	.loading p{
		color: #fff;
	}

	.message.success{
		display: none;
		text-align: center;

		span{
			padding: 30px 100px;
			background-color: #fff;
			font-size: $font30;
			color: $green;
			letter-spacing: 1px;
			border-radius: 4px;
			box-shadow: $dropshadow;
		}
	}
}

.loading{
	margin: 80px 0;

	p{
		margin: 50px 0 20px;
		font-size: $font22;
		text-align: center;
		letter-spacing: 1.5px;
		color: $blue;
	}

	.sk-folding-cube {
	  margin: 20px auto;
	  width: 40px;
	  height: 40px;
	  position: relative;
	  -webkit-transform: rotateZ(45deg);
	          transform: rotateZ(45deg);
	}

	.sk-folding-cube .sk-cube {
	  float: left;
	  width: 50%;
	  height: 50%;
	  position: relative;
	  -webkit-transform: scale(1.1);
	      -ms-transform: scale(1.1);
	          transform: scale(1.1); 
	}
	.sk-folding-cube .sk-cube:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: $blue;
	  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	          animation: sk-foldCubeAngle 2.4s infinite linear both;
	  -webkit-transform-origin: 100% 100%;
	      -ms-transform-origin: 100% 100%;
	          transform-origin: 100% 100%;
	}
	.sk-folding-cube .sk-cube2 {
	  -webkit-transform: scale(1.1) rotateZ(90deg);
	          transform: scale(1.1) rotateZ(90deg);
	}
	.sk-folding-cube .sk-cube3 {
	  -webkit-transform: scale(1.1) rotateZ(180deg);
	          transform: scale(1.1) rotateZ(180deg);
	}
	.sk-folding-cube .sk-cube4 {
	  -webkit-transform: scale(1.1) rotateZ(270deg);
	          transform: scale(1.1) rotateZ(270deg);
	}
	.sk-folding-cube .sk-cube2:before {
	  -webkit-animation-delay: 0.3s;
	          animation-delay: 0.3s;
	}
	.sk-folding-cube .sk-cube3:before {
	  -webkit-animation-delay: 0.6s;
	          animation-delay: 0.6s; 
	}
	.sk-folding-cube .sk-cube4:before {
	  -webkit-animation-delay: 0.9s;
	          animation-delay: 0.9s;
	}
	@-webkit-keyframes sk-foldCubeAngle {
	  0%, 10% {
	    -webkit-transform: perspective(140px) rotateX(-180deg);
	            transform: perspective(140px) rotateX(-180deg);
	    opacity: 0; 
	  } 25%, 75% {
	    -webkit-transform: perspective(140px) rotateX(0deg);
	            transform: perspective(140px) rotateX(0deg);
	    opacity: 1; 
	  } 90%, 100% {
	    -webkit-transform: perspective(140px) rotateY(180deg);
	            transform: perspective(140px) rotateY(180deg);
	    opacity: 0; 
	  } 
	}

	@keyframes sk-foldCubeAngle {
	  0%, 10% {
	    -webkit-transform: perspective(140px) rotateX(-180deg);
	            transform: perspective(140px) rotateX(-180deg);
	    opacity: 0; 
	  } 25%, 75% {
	    -webkit-transform: perspective(140px) rotateX(0deg);
	            transform: perspective(140px) rotateX(0deg);
	    opacity: 1; 
	  } 90%, 100% {
	    -webkit-transform: perspective(140px) rotateY(180deg);
	            transform: perspective(140px) rotateY(180deg);
	    opacity: 0; 
	  }
	}
}